@import "../../styles/variables.scss";


.form-container {
    margin-top: 90px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width:440px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 90px auto;
    border-radius: 4px;
}

.form-title {
    font-size: 24px;
    text-align: center;
}

.remember-me {
    display: flex;
    justify-content: space-between;
}



@media (max-width: $breakpoint-mobile) {
    .form-container {
        width:95%;
    }
}