
.form-container {
    margin-top: 90px;
    padding-top: 60px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
    width:440px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 90px auto;
    border-radius: 4px;
    
}

.form-container :global(.ant-input) {
    height: 45px;
}

.sms-btn {
    height: 45px;
    background: #22B0EB;
    font-size: 14px;
    color: #fff;
}

.form-title {
    font-size: 24px;
    text-align: center;
}

.remember-me {
    display: flex;
    justify-content: space-between;
}

.login-form-button {
    width: 100%;
    height: 45px;
    background: $primaryColor;
    font-size: $button-text
}

.agreement {
    text-align: center;
    color:$grey
}

.verification-code {
    width: 60%
}


@media (max-width: $breakpoint-mobile) {
    .form-container {
        width:95%;
    }
}