#root {
    height: 100%;
    min-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    font-family: Arial, "Microsoft Yahei";
    color: $black
}


.flex-row {
    display: flex;
}

.flex-column {
    display: flex;
    flex-direction: column
}

/* 配合flex布局使用 */
.center-all {
    justify-content: center;
    align-items: center
}

.center-h {
    justify-content: center;
}

.center-v {
    align-items: center;
}

.margin-center {
    margin: 0 auto
}

/* background */

.bk-orange {
    background: $orange
}

.bk-blue {
    background: $primaryColor
}



/* order table */
.order-table {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid $boxBorderColor;
    border-radius: 4px;


    .table-col-1 {
        width: 37%;

    }

    .table-col-2 {
        width: 43%
    }

    .table-col-3 {
        width: 25%;
        text-align: center;
        padding: 15px 0;
        position: relative;
    }

    .no-package {
        text-align: center;
        padding: 15px 0;
    }

    .table-data:not(:last-child) {
        border-right: 1px solid $boxBorderColor;
    }

    .item-row {
        height: 115px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .order-delete {
        position: absolute;
        right: 10px;

        &:hover {
            cursor: pointer;
        }
    }

    .item-row:not(:nth-of-type(1)) {
        border-top: 1px solid $boxBorderColor;
    }

    .table-header .table-row {
        height: 45px;
        background: $lightGrey;
        text-align: center;
        display: flex;
        border-radius: 4px;

        .table-data {
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }

    .table-body .table-row {
        min-height: 115px;
        display: flex;
    }

    .table-row .table-data:nth-child(1) {
        text-align: left;
        padding: 0 15px;
    }


    .item-img {
        width: 115px;
        height: 80px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            width: 100%
        }

        &:hover {
            cursor: pointer;
        }

        .img-icon {
            font-size: 65px;
        }
    }

    .order-info {
        padding: 15px 0;
    }

    .promotion-1111 {
        color: red;
    }

    .item-details {
        text-align: left;
        padding: 0 10px;
    }

    .order-operation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .confirm-btn {
        height: 25px;
        min-width: 80px;
        padding: 0 10px;
        background: $primaryBorderColor;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}


/** button **/

.blue-btn {
    width: 96px;
    height: 30px;
    background: $primaryColor;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

.grey-btn {
    width: 96px;
    height: 30px;
    background: #666666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &:hover {
        cursor: pointer;
    }
}

/** Modal **/

.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.6) !important
}

.loading-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center
}


/** empty-list **/

.empty-list {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

    .title {
        font-size: 16px;
        font-weight: bold;
        margin-right: 10px
    }
}


/** 404 **/

.error-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        font-size: 60px;
        margin-bottom: 50px;
    }

    .status {
        font-size: 40px;
        margin-bottom: 50px;

    }
}