.footer-container {
    background: #434343;
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


    .logos {
        display: flex;
        margin-bottom: 50px;

        i {
            background: #fff;
            font-size: 20px;
            margin-right: 10px;
            border: 1px solid black;
            border-radius: 33px;
            width: 40px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .links {
        width: 100%;
        justify-content: center;
        align-items: center;
        position: relative;


        i {
            display: flex;
            color: #999999;
            font-size: 2px;
            justify-content: center;
            align-items: center;
            padding: 0 15px;
        }

        a {
            color: #999999;
            font-size: 14px;
        }

        .up-arrow {
            width: 40px;
            height: 40px;
            background: #4e4e4e;
            position: absolute;
            right: 5%;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                cursor: pointer;
            }


            i {
                font-size: 20px;
                color: #a1a1a1;
            }
        }
    }


}