.header-container{
    // width: 1920px;
    height: 90px;
    display: flex;
    align-items: center;
    padding: 0 80px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.1), 0 1px 8px 0 rgba(0, 0, 0, 0.19)
}

.header-container .logo img {
    width: 160px;
    height: auto;
}

.nav-page {
    display: flex;
    height: 100%;
    justify-content: space-between;
}
.nav-page a {
    height: 100%;
    display: flex;
    align-items: center;
    font-size: $header-title;
    color:$black
}

.nav-btn {
    height: 30px;
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px
}

.signin {
    border:1px solid $black;
    background: $white;
    margin-right: 10px
}

.signin a {
    font-size: $header-title;
    color:$black
}

.signup {
    background: $primaryColor;
    margin-right: 40px
}

.signup a {
    font-size: $header-title;
    color: $white
}
.nav-selected {
    border-bottom: 2px solid $primaryBorderColor;
}

.nav-auth-container {
    display: flex;
    justify-content: flex-end;
}

.language-btn {
    display: flex;
    align-items: center;
    width: 50px;
    justify-content: space-around;
}

.change-language {
    font-size: $header-title;
    color: $primaryColor
}

.avatar {
    background: $primaryColor;
    margin-right: 30px;
}