.banner img {
    width: 100%;
    height: auto;
}

.advantage-container {
    height: 480px;
    >.title {
        font-size:$title-h1;
        text-align: center;
        margin-bottom: 30px;
    }
}

.advantages {
    justify-content: space-around;
    width: 100%;
    min-width: 1024px;
}

.advantage  {
    height: 290px;
    width: 335px;
    border-radius: 6px;
    background: $white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    .img {
        width: 60px;
        height: 60px;
        margin-bottom: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        
    };
    .adv1-img {
        background-image: url(../pages/cando-home/lightning-orders.png);
    }
    .adv2-img {
        background-image: url(../pages/cando-home/express-tracking.png);
    }
    .adv3-img {
        background-image: url(../pages/cando-home/remote-region.png);
    }
    >.title {
        font-size: $home-grid-title;
        font-weight: bold;
        margin-bottom: 25px;
    }
    >.content {
        color:$grey;
        padding: 0 30px;
        line-height: 1.88;
    }
    &:hover {
        background: $primaryColor;
        >.content, >.title {
            color:$white
        }
        .adv1-img {
            background-image: url(../pages/cando-home/lightning-orders-click.png);
        }
        .adv2-img {
            background-image: url(../pages/cando-home/express-tracking-click.png);
        }
        .adv3-img {
            background-image: url(../pages/cando-home/remote-region-click.png);
        }
    }
}


.new-user-container {
    height: 585px;
    background: $primaryColor;
    .headers {
        margin-bottom: 55px;
        >.title{
            color: $white;
            font-size: $title-h1;
            text-align: center;
            margin-bottom: 20px;
        }
        >.content {
            text-align: center;
            color: $white;
            line-height: 1.88;
        }
    }
    .details {
        justify-content: space-around;
        width:100%;
        .detail {
            height: 280px;
            >.title {
                font-size: $home-grid-title;
                color: $white
            }
            >.content {
                text-align: center;
                color:$white;
                line-height: 1.88
            }
            .detail-img {
                width: 110px;
                height: 110px;
                margin-bottom: 25px;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                background-size: 100px 100px;
            }
            .detail1-img {
                background-image: url(../pages/cando-home/xiadan_nor.png);
            }
            .detail2-img {
                background-image: url(../pages/cando-home/yanshou_nor.png);
            }
            .detail3-img {
                background-image: url(../pages/cando-home/dabao_nor.png);
            }
            .detail4-img {
                background-image: url(../pages/cando-home/shouhuo_nor.png);
            }
            &:hover {
                .detail1-img {
                    background-image: url(../pages/cando-home/xiadan_sel.png);
                }
                .detail2-img {
                    background-image: url(../pages/cando-home/yanshou_sel.png);
                }
                .detail3-img {
                    background-image: url(../pages/cando-home/dabao_sel.png);
                }
                .detail4-img {
                    background-image: url(../pages/cando-home/shouhuo_sel.png);
                }
            }
        }
    }
}


.pay-standar-container {
    height: 660px;
    .headers {
        margin-bottom: 90px;
        >.title {
            font-size: $title-h1;
            color: $black;
            text-align: center;
            margin-bottom: 20px;
        }
        >.content {
            text-align: center;
            color:$grey;
            line-height: 1.88
        }
    }
    .type-container {
        width: 100%;
        min-width: 1024px;
        justify-content: space-around;
        .type {
            border-radius: 6px;
            height:295px;
            width:42%;
            position: relative;
            padding: 0 30px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            >.title {
                font-size: $title-h2;
                margin-bottom: 15px
            }
            >.content {
                color: $grey
            }
            >.button {
                width: 170px;
                height: 35px;
                text-align: center;
                line-height: 35px;
                color: $white;
                position: absolute;
                bottom: -18px;
                font-size: $title-h3;
                border-radius: 2px;
            }
            .img {
                position: absolute;
                top: -70px;
                img {
                    height: 145px;
                    width: auto;
                }
            }
        }
    }
}

