.package-modal {
    .close-modal-icon {
        text-align: right;
        font-size: 30px;
    }

    .package-info {
        margin: 0 65px;

        .modal-title {
            font-size: $title-h4;
            color:$black;
            margin-bottom: 20px;
        }
    }

    .package-info :global(.ant-input) {
        height: 50px !important
    }

    .delete-operation {
        display: flex;
        margin-top: 35px;
        display: flex;
        justify-content: center;
    }
}