.new-order-container {
  width: 80%;
  margin: 0 auto;

  .service {
    padding-top: 115px;
  }

  .title {
    font-size: $title-h4;
    margin-bottom: 22px;

    a {
      font-size:16px
    }
  }

  .space-line-blue {
    width: 30px;
    height: 3px;
    background: $primaryColor;
    margin-bottom: 30px
  }

  .receiver-detail {
    margin-bottom: 30px;


    .receiver-list {

      width: 100%;
      margin: 0 auto;

      .receiver_address {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 15px;

        .icon,
        .link {
          color: #ff9c32;
          font-size: 16px;
          font-weight: bold;
          margin-right: 15px;
        }

        .link a {
          color: #ff9c32;
          font-size: 16px;
        }
      }
    }
  }

  .place-order-btn {
    display: flex;
    justify-content: center;
  }
}

.new-order-container :global(.ant-radio-wrapper) {
  text-indent: -25px;
  white-space: normal;
  margin-left: 25px;
  line-height: 1.88;

  color: #333333;
}

.new-order-container :global(.ant-radio-group) {
  display: flex;
  flex-direction: column;

}

.receiver_address :global(.ant-radio-wrapper) {
    width: 70%;
    padding-left: 50px;
}

.new-order-container :global(.ant-radio-wrapper-checked) {
  font-size: 16px;
}

.new-order-container .receiver-detail :global(.ant-input) {
  height: 45px;
}

// .new-order-container :global(.ant-radio-wrapper-checked)::after{
//     content:'after'
// }

// .new-order-container :global(.ant-radio-wrapper-checked)::before{
//     content:'before'
// }

.agree-term {
  justify-content: center;
  display: flex;

  .content {
    display: flex
  }
}

.agree-term :global(.ant-checkbox-wrapper) {
  display: flex;
  flex-direction: row;
  align-items: center
}

.place-order-btn :global(.ant-btn) {
  background: $primaryColor;
  width: 200px;
  color: #fff;
  height: 45px;
}

@media (min-width: $breakpoint-laptop-xl) {
  .new-order-container {
    width: 45%;
  }
}

@media (min-width: $breakpoint-laptop-l) {
  .new-order-container {
    width: 55%;
  }
}

@media (min-width: $breakpoint-laptop) {
  .new-order-container {
    width: 70%;
  }
}