.order-list-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 30px;
    width: 900px;
    
    .order-list {
        height: 100%;
        padding-top:65px
    }


    .menu-header {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        width: 100%;
        height: 30px;
        // padding: 0 30px;
        border-bottom: 2px solid $boxBorderColor;

        // box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.1);
        .menu-item {
            color: $black
        }

        .menu-selected {
            color: $primaryColor;
            font-weight: bold;
            border-bottom: 2px solid $primaryColor;
        }
    }

    .search {
        height: 65px;
    }

    

}