.order-status-progress {
  height: 100px;
  margin: 40px 0;
  width: 1200px;

  .prgress-bar {
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;

    .prgress-line {
      height: 6px;
      width: 100%;
      background: $primaryBorderColor
    }

    .prgress-status {
      position: absolute;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .order-status {
        position: relative;
        display: flex;
        align-items: center;

        .content {
          top: -20px;
          position: absolute;
          font-size: 14px;
          font-weight: bold;
          width: 100px;
          left: -25px;
          text-align: center;
        }

        .stage {
          background: #fff;
          width: 45px;
          height: 45px;
          border-radius: 25px;
          border: 1px solid $boxBorderColor;
          display: flex;
          justify-content: center;
          font-size: 25px;
          font-weight: bold;
          align-items: center;
          color: $primaryColor
        }

        .icon {
          font-size: 45px;
          color: $primaryBorderColor;
          background: #fff;
        }
      }
    }
  }


}

.order-detail-container {
  .pay-attention {
    padding: 20px 40px;
    text-align: left;
    color: grey;
  }

  .return-link {
    width: 1200px;
    margin-bottom: 20px
  }

  padding-top: 40px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-align-items: center;
  align-items: center;
  /* width: 980px; */
}

.order-detail {
  width: 1200px;
  border: 1px solid $boxBorderColor;
  display: flex;
  min-width: 800px;
  border-radius: 6px;

  .left-content {
    width: 25%;
    min-width: 295px;
    border-right: 1px solid $boxBorderColor;


    .title {
      background: $lightGrey;
      padding-left: 20px;
      height: 40px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid $boxBorderColor;
      font-size: 16px;
      font-weight: bold;
      border-top-left-radius: 6px;


    }

    .item-trace-num {
      color: #22B0EB;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }

    .detail {
      background: #f4f4f4;
      padding-left: 20px;
      height: 260px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      line-height: 1.88;
      border-bottom-left-radius: 6px;
    }
  }

  .right-content {
    width: 75%;
    min-width: 505px;

    .order-status {
      display: flex;
      height: 40px;
      align-items: center;
      margin-top: 40px;
      margin-left: 35px;

      .status-icon {
        font-size: 35px;
        color: $primaryColor;
        padding-right: 20px;
      }

      .status-context {
        font-size: 16px;
        font-weight: bold;
      }
    }
  }
}

.order-transport {
  margin-top: 40px;
  width: 1200px;
  min-width: 800px;
  border: 1px solid $boxBorderColor;
  border-radius: 6px;

  .title {
    background: $lightGrey;
    height: 55px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding-left: 20px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
  }

  .relay-address,
  .delivery-address,
  .package-service {
    height: 50px;
    border-top: 1px solid $boxBorderColor;
    display: flex;
    align-items: center;

    .left {
      width: 25%;
      border-right: 1px solid #c1c1c1;
      min-width: 295px;
      height: 100%;
      padding-left: 20px;
      display: flex;
      align-items: center;
    }

    .right {
      width: 75%;
      min-width: 505px;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 20px;

    }
  }

}

.order-item-table-wrap {
  margin: 40px 0;
  border: 1px solid #c1c1c1;
  border-radius: 6px;
}

.order-items-table {

  width: 1200px;
  min-width: 800px;


  thead tr {
    height: 45px;
    background: $lightGrey;
    text-align: center;

    th:not(:last-child) {
      border-right: 1px solid $boxBorderColor
    }
  }

  tbody tr {
    height: 120px;

    td {
      text-align: center;
    }

    td:not(:last-child) {
      border-right: 1px solid $boxBorderColor;
    }
  }

  tbody tr:not(:last-child) {
    border-bottom: 1px solid $boxBorderColor;
  }

  .add-package {
    height: 75px;
  }

  .add-package-icon {
    font-size: 16px;
    color: #999999;

    i {
      padding-right: 10px;
    }
  }


  .item-info {
    width: 580px;
    min-width: 580px;
    display: flex;
    padding: 20px 30px;

    .item-img {
      width: 115px;
      height: 80px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .item-trace-num {
      color: #22B0EB;
      text-decoration: underline;

      &:hover {
        cursor: pointer;
      }
    }


    .img-icon {
      font-size: 65px
    }

    & img {
      width: 100%;
    }

    .item-details {
      text-align: left;
      padding-left: 10px;
      line-height: 1.88;

      &:hover {
        cursor: pointer;
      }
    }
  }



  .item-status {
    width: 155px;
    min-width: 155px;
  }

  .item-delete {
    width: 50px;
    min-width: 50px;

    .delete-cancel {
      &:hover {
        cursor: not-allowed;
      }
    }

    .delete-item {

      &:hover {
        cursor: pointer
      }
    }

  }

  .item-operation {
    width: 410px;
    min-width: 410px;

    .alert-text {
      text-align: left;
      padding: 0 30px;
    }
  }

  .pay-info {
    height: 230px;
    background: $lightGrey;

    .pay-info-layout {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-right: 60px;
      line-height: 1.88;
    }

    .pay-detail-row {
      display: flex;
      width: 210px;
      justify-content: space-between;
    }
  }


}

.track-package-intl {
  margin: 0 0 40px 0;
  width: 1200px;
  min-width: 800px;
  border: 1px solid #c1c1c1;
  border-radius: 6px;

  .title {
    height: 70px;
    background: $lightGrey;
    padding: 0 30px;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $boxBorderColor;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px
  }

  .track-row {
    min-height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $boxBorderColor;

    .time {
      width: 40%;
      padding: 0 30px;
      display: flex;
      align-items: center;
      height: 100%;
      border-right: 1px solid $boxBorderColor;
    }

    .content {
      width: 60%;
      padding: 0 30px
    }
  }
}