.menu {
    .menu-title {
        margin-top: 40px;
        font-size: $title-h3;
        font-weight: bold;
        color:#333333;
        padding-left: 24px;
        margin-bottom: 20px
    }

    .menu-sub {
        color:#333333;
        font-size: 16px;
        font-weight: bold
    }
}



.main-layout {
    display: flex;
    min-height: 700px;
    min-width: 1200px;
    width: 100%;
    justify-content: center;
}


.main-container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 900px;

    .main-title {
        font-size: $title-h3;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .user-info {
        width: 60%
    }
}

.ant-form-item-label {
    text-align: left
}


// address

.address-list {
    width: 80%;
    // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 1px solid $boxBorderColor;

    .list-row {
        display: flex;
        align-items: center;
        height: 80px;
        border-bottom: 1px solid $boxBorderColor;

        .alter {
            a {
                color: $black;

                &:hover {
                    color: $primaryColor;
                    cursor: point
                }
            }

            padding-right: 5px;
            border-right: 1px solid;

        }

        .delete {
            padding-left: 5px;

            &:hover {
                color: $primaryColor;
                cursor: pointer;
            }
        }
    }

    .list-header {
        height: 45px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $boxBorderColor;
        background: #ededed;
        font-size: $title-h3;
        font-weight: 500
    }

    .list-receiver {
        width: 20%;
        border-right: 1px solid $boxBorderColor;
    }

    .list-phone {
        width: 20%;
        border-right: 1px solid $boxBorderColor;
    }

    .list-address {
        width: 40%;
        border-right: 1px solid $boxBorderColor;
    }

    .list-action {
        width: 20%;

    }

    .list-default {
        width: 15%;

        &:hover {
            color: $primaryColor;
            cursor: point
        }
    }

    .center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 10px;
    }
}