/* Color */
$primaryColor: #22B0EB;
$primaryBorderColor: #23b1ec;
$boxBorderColor: #c1c1c1;
$orange:#ee8462;

/* font color */
$black: #333333;
$white: #fff;
$grey: #c1c1c1;
$lightGrey:#ededed;

/* font-size */

$title-h1:30px;
$title-h2:24px;
$title-h3:16px;
$title-h4:18px;
$home-grid-title:18px;
$header-title:14px;
$button-text:18px;


// media
$breakpoint-mobile: 425px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1024px;
$breakpoint-laptop-m: 1200px;
$breakpoint-laptop-l: 1440px;
$breakpoint-laptop-xl: 1800px;

